.TermsOfUseContainer {
  background-color: #343434;
  text-align: left;
  color: white;
  width: 40vh;
  max-width: 82%;
  min-height: 30vh;
  margin: auto;
  border: 1px solid #343434;
  border-radius: 3%;
  max-width: 85%;
  height: 150%;
  min-height: 100%;
  box-shadow: 0 0 10px #343434;
  opacity: 95%;
  margin-top: 5vh;
}
.TermsOfUseTitle{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vh;
  text-align: center;
}
