.myFormGroupEvent{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.EventButton{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    border-color: white;
    border: 1px solid white;
    margin-right: 10vh;
}
.EventButton2{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    border-radius: 100%;
}
.Event{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.EventTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
}
.EventBanner{
    text-align: center;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
}
.EventContainer{
        background-color: #2c2c2c;
        text-align: center;
        color: white;
        width: 40vh;
        min-width: 30vh;
        height: 20vh;
        margin: auto;
        border: 1px solid #2c2c2c;
        border-radius: 3%;
        opacity: 95%;
        margin-top: 5vh;
}
.BackButton{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    border-radius: 100%;
}
.EventInfoButton{
    width: 7vh;
    height: 5vh;
    margin-left: 30vh;
}
.EventInviteButton{
    width: 7vh;
    height: 5vh;
    margin-left: 35vh;
}
.heightmaker{
    min-height: 20vh;
}
