.Success{
    color: white;
    background-color: green;
    text-align: center;
    font-family: kirsty;
    font-size: 2vh;
}
.Error{
    color: white;
    background-color: red;
    font-family: kirsty;
    font-size: 2vh;
}
@font-face {
    font-family: 'kirsty';
    src: local('kirsty'), url(./../fonts/kirstybd.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
:root{
    --base: #15517fc7;
}
.Title{
    text-align: center;
    background-color: #2c2c2c;
    font-family: kirsty;
    color: #15517fc7;
    font-size: 4vh;
    min-height: 5vh;
    text-shadow: black 2px 2px 2px;
}