@font-face {
    font-family: 'ModernPrestige';
    src: local('ModernPrestige'), url(./../fonts/ModernPrestige.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Anchora';
    src: local('Anchora'), url(./../fonts/Anchora.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  @font-face {
    font-family: 'Ubuntu-B';
    src: local('Ubuntu-B'), url(./../fonts/Ubuntu-B.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.HomeContainer{
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    width: 40vh;
    max-width: 82%;
    min-height: 30vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    max-width: 85%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #2c2c2c;
    opacity: 95%;
    margin-top: 5vh;
}
.text{
    font-size: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.Copyright {
  font-size: 20px;
  margin-top: 10vh;
  text-align: center;
}