.myFormGroupImage {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.ImageUpload {
  width: 50%;
  margin: auto;
}
.ImageButton {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-bottom: 13vh;
  width: 7vh;
  height: 7vh;
  background-color: #2c2c2c;
  color: antiquewhite;
  border-color: white;
  border: 1px solid white;
  margin-right: 10vh;
}
.ImageButton2 {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-bottom: 13vh;
  margin-right: 1vh;
  width: 7vh;
  height: 7vh;
  background-color: #2c2c2c;
  color: antiquewhite;
  border-radius: 100%;
}
.ImageTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 3.5vh;
}
.ImageBanner {
  text-align: center;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;
}
@media only screen and (min-width: 1360px) {
  .ImageContainer {
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    width: 40%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #2c2c2c;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
  }
}
@media only screen and (max-width: 1360px) {
  .ImageContainer {
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    width: 85%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #2c2c2c;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
  }
}
@media only screen and (min-width: 1360px) {
  .ImageUploadContainer {
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    width: 40%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #2c2c2c;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
  }
}
@media only screen and (max-width: 1360px) {
  .ImageUploadContainer {
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    width: 85%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #2c2c2c;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
  }
}
.BackButton {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-bottom: 13vh;
  margin-right: 1vh;
  width: 7vh;
  height: 7vh;
  background-color: #2c2c2c;
  color: antiquewhite;
  border-radius: 100%;
}
.ImageInfoButton {
  width: 9vh;
  height: 6vh;
  margin-left: 16vh;
}
.ImageInviteButton {
  width: 5vh;
  height: 5vh;
}
.ImageDeleteButton {
  width: 5vh;
  height: 5vh;
  color: rgb(200, 46, 46);
  margin-left: 4vw;
}
.heightmaker {
  min-height: 20vh;
}
.price {
  width: 75%;
  margin: auto;
}
.ImageForm{
  background-color: #2c2c2c;
  color: aliceblue;
  border: 1px solid #2c2c2c;
}
