@media screen and (min-width: 600px) {
        .mobile-nav {
            background: #2c2c2c;
            top: 9vh;
            height: 10vh;
            width: 50%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: auto;
          }
        .bloc-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .bloc-logo img {
            margin-top: 1vh;
            margin-bottom: 1vh;
            width: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
        }
        .logosel{
            margin-top: 1vh;
            margin-bottom: 1vh;
            width: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#2e6255;
            border-radius: 15%;
            transition: 1.5s;
        }
        .icons{
            display: flex;
            gap: 1vh;
            color: white;
            height: 7vh;
            width: 8vh;
            transition: 1s;
        }
        .iconsel{
            display: flex;
            gap: 1vh;
            color: white;
            background-color:#2e6255;
            height: 7vh;
            width: 8vh;
            transition: 1.5s;
            border-radius: 15%;
        }
        .banner{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 100%;
            max-height: 10vh;
            background-color: #2c2c2c;
        }
        @media screen and (min-width: 600px) {
            .banner{
                background-color: #2c2c2c;
                width: 25%;
            }
        }
}
@media screen and (max-width: 599px) {
.mobile-nav {
    z-index: 1;
    background: #2c2c2c;
    position: fixed;
    bottom: 0;
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc-logo img {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.logosel{
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2e6255;
    border-radius: 50%;
    transition: 1.5s;
}
.icons{
    display: flex;
    gap: 1vh;
    color: white;
    height: 7vh;
    width: 8vh;
    transition: 1s;
}
.iconsel{
    display: flex;
    gap: 1vh;
    color: white;
    background-color:#2e6255;
    height: 7vh;
    width: 8vh;
    transition: 1.5s;
    border-radius: 15%;
}
@media screen and (min-width: 600px) {
    .banner{
        background-color: #2c2c2c;
        width: 25%;
    }
}
}