.scanner{
    margin-top: 15vh;
    max-width: 40vh;
    border: solid 10px;
    box-shadow: 5px 5px 5px black;
}
.result{
    font-family: kirsty;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    background-color: antiquewhite;
    opacity: 0.4;
    box-shadow: 5px 5px 5px black;
    border: 8px solid black;
    border-radius: 3px 5px 5px;
}
.box{
    margin-top: 35vh;
    background-color: aqua;
    height: 5vh;

}
.qrdata {
    font-family: kirsty;
    word-wrap: break-word;
}
.QRProfileContainer {
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    width: 40vh;
    min-width: 30vh;
    height: 50vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    transition: 1s;
}
.render {
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s ease;
}
.show {
    visibility: visible;
    opacity: 1;
  }