@font-face {
    font-family: 'kirsty';
    src: local('kirsty'), url(./../fonts/kirstybd.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
:root{
    --base: #2e6255;
}
.Title{
    text-align: center;
    background-color: bisque;
    font-family: kirsty;
    font-size: 4vh;
    min-height: 5vh;

}
.App{
    min-height: 100vh;
    max-width: 100%;
    background: radial-gradient(at top, rgb(49, 157, 49), rgb(165, 121, 49), yellow)
}