.UserProfileContainer{
        background-color: #2c2c2c;
        text-align: center;
        color: white;
        margin: auto;
        border: 1px solid #2c2c2c;
        border-radius: 3%;
        margin-top: 5vh;
        width: 85%;
        height: 150%;
        min-height: 100%;
        box-shadow: 0 0 10px #2c2c2c;
        opacity: 95%;
}
.UserProfile{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.ProfileTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
}
.ProfileDeleteButton{
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
    margin-left: 25%;
}
.ProfileEditButton{
    width: 5vh;
    height: 5vh;
    margin-left: 25%;
}