.UserProfileContainer{
    width: 40vh;
    height: 40vh;
    background-color: rgb(0, 1, 87);
    box-shadow: 10px 10px 10px black;
    opacity: 0.8;
    margin: auto;
    margin-top: 33%;
    color: white;
}
.text-left {
    margin: 20px;
    font-size: 20px;
}