@media only screen and (min-width: 1360px) {
    .UserProfileContainer{
        background-color: #2c2c2c;
        text-align: center;
        color: white;
        margin: auto;
        border: 1px solid #2c2c2c;
        border-radius: 3%;
        margin-top: 5vh;
        width: 50%;
        height: 150%;
        min-height: 100%;
        box-shadow: 0 0 10px #2c2c2c;
        opacity: 95%;
        font-size: 2vh;
        text-shadow: black 2px 2px 2px;
    }
    .ProfileDeleteButton{
        margin-top: 2vh;
        width: 5vh;
        height: 5vh;
        color: rgb(200, 46, 46);
        margin-left: 60%;
    }
    .ProfileEditButton{
        margin-top: 2vh;
        width: 5vh;
        height: 5vh;
        margin-left: 40%;
    }
}
@media only screen and (max-width: 1360px) {
.UserProfileContainer{
        background-color: #2c2c2c;
        text-align: center;
        color: white;
        margin-bottom: 0vh;
        border: 1px solid #2c2c2c;
        border-radius: 3%;
        margin-top: 5vh;
        width: 85%;
        height: 150%;
        min-height: 100%;
        box-shadow: 0 0 10px #2c2c2c;
        opacity: 95%;
        text-shadow: black 2px 2px 2px;
}
.ProfileDeleteButton{
    margin-top: 2vh;
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
}
.ProfileEditButton{
    margin-top: 2vh;
    width: 5vh;
    height: 5vh;
}
}
.UserProfile{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.ProfileTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.5vh;
}
.Image{
    object-fit: contain;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 4px solid #15517fc7;
}
.ProfilePictureButton{
    margin-top: 2vh;
    width: 5vh;
    height: 5vh;
}
.ProfilePictureIcon{
    width: 5vh;
    height: 5vh;
}
