.UserProfileContainer{
    width: 40vh;
    height: 40vh;
    box-shadow: 10px 10px 10px 1px black;
    opacity: 0.85;
    margin: auto;
    margin-top: 33%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-left {
    margin: 20px;
    font-size: 20px;
}