@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .CreateEventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    width: 85%;
    min-width: 30vh;
    height: 180vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}
@media only screen and (max-width: 700px) {
  .CreateEventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    width: 85%;
    min-width: 30vh;
    height: 180vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}
@media only screen and (min-width: 1300px) {
  .CreateEventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    width: 25%;
    min-width: 30vh;
    height: 180vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}
