.EventInviteContainer{
    background-color: #343434;
    text-align: center;
    color: white;
    width: 40vh;
    min-width: 30vh;
    height: 50vh;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 2vh;
    margin-bottom: 10vh;
    box-shadow: 0 0 10px #343434;
    opacity: 95%;
}
.InvitedUsers{
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    text-align: center;
    columns: 3 auto;
}
.InvitedUsersTitle{
    font-size: 2.5vh;
    font-family: 'Courier New', Courier, monospace;
}
