.myFormGroupEvent {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.Event {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
}
.EventTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 3.5vh;
}
.EventBanner {
  text-align: center;
  font-size: 5vh;
  font-family: "Courier New", Courier, monospace;
}


/* Medium Screen */
@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .EventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 3%;
    width: 40%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #343434;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
    text-shadow: black 2px 2px 2px;
  }
  .BackButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
  .EventButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
  }
  .EventButton2 {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 10vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
  .EventInfoButton {
    width: 9vh;
    height: 6vh;
  }
  .EventInviteButton {
    width: 5vh;
    height: 5vh;
  }
  .EventDeleteButton {
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
  }
  .EventEditButton {
    width: 5vh;
    height: 5vh;
  }
}



/* small screen */
@media only screen and (max-width: 700px) {
  .EventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 3%;
    width: 85%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #343434;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
  }
  .BackButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
  .EventInfoButton {
    width: 9vh;
    height: 6vh;
  }
  .EventInviteButton {
    width: 5vh;
    height: 5vh;
  }
  .EventDeleteButton {
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
  }
  .EventEditButton {
    width: 5vh;
    height: 5vh;
  }
  .EventButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
  }
  .EventButton2 {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 10vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
}



/* Big Screen */
@media only screen and (min-width: 1300px) {
  .EventContainer {
    background-color: #343434;
    text-align: center;
    color: white;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 3%;
    width: 25%;
    height: 150%;
    min-height: 100%;
    box-shadow: 0 0 10px #343434;
    opacity: 95%;
    margin-top: 5vh;
    font-size: 2.1vh;
    text-shadow: black 2px 2px 2px;
  }
  .BackButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 13vh;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
  .ButtonBar{
    width: 40%;
    margin: auto;
  }
  .EventButton {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 16vh;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
  }
  .EventButton2 {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 47vh;
    margin-bottom: 13vh;
    margin-right: 10vh;
    width: 7vh;
    height: 7vh;
    background-color: #343434;
    color: antiquewhite;
    border-radius: 100%;
  }
}
.heightmaker {
  min-height: 20vh;
}
.price {
  width: 75%;
  margin: auto;
}
.EventInfoButton{
    width: 9vh;
    height: 6vh;
}
.EventInviteButton{
    width: 5vh;
    height: 5vh;
}
.EventDeleteButton{
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
}
.EventEditButton{
    width: 5vh;
    height: 5vh;
}