.myFormGroupEvent{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.EventButton{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    margin-right: 10vh;
    border: #2c2c2c 1px solid;
}
.EventButton2{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    border-radius: 100%;
}
.Event{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.EventTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5vh;
}
.EventBanner{
    text-align: center;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
}
@media only screen and (min-width: 1360px) {
.EventContainer{
        background-color: #2c2c2c;
        text-align: center;
        color: white;
        margin: auto;
        border: 1px solid #2c2c2c;
        border-radius: 3%;
        width: 40%;
        height: 150%;
        min-height: 100%;
        box-shadow: 0 0 10px #2c2c2c;
        opacity: 95%;
        margin-top: 5vh;
        font-size: 2.1vh;
        text-shadow: black 2px 2px 2px;
}
}
@media only screen and (max-width: 1360px) {
    .EventContainer{
            background-color: #2c2c2c;
            text-align: center;
            color: white;
            margin: auto;
            border: 1px solid #2c2c2c;
            border-radius: 3%;
            width: 85%;
            height: 150%;
            min-height: 100%;
            box-shadow: 0 0 10px #2c2c2c;
            opacity: 95%;
            margin-top: 5vh;
            font-size: 2.1vh;
            text-shadow: black 2px 2px 2px;
    }
    }
.BackButton{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin-bottom: 13vh;
    margin-right: 1vh;
    width: 7vh;
    height: 7vh;
    background-color: #2c2c2c;
    color: antiquewhite;
    border-radius: 100%;
}
.EventInfoButton{
    position: absolute;
    width: 11vh;
    height: 7vh;
    /* margin-left: 12.5vh;
    margin-top: -2vh; */
    bottom: -30px;  /* Adjust the value as needed */
    right: -45px;   /* Adjust the value as needed */
}
.EventInviteButton{
    width: 5vh;
    height: 5vh;
    margin-left: 8vw
}
.EventDeleteButton{
    width: 5vh;
    height: 5vh;
    color: rgb(200, 46, 46);
    margin-left: 4vw
}
.EventEditButton{
    width: 5vh;
    height: 5vh;
    margin-left: 4vw
}
.heightmaker{
    min-height: 20vh;
}
.price{
    width: 75%;
    margin: auto;
}
.card {
    position: relative;
}