.heightmaker{
    height: 10vh;
}
.EventBannerPreview {
    max-width: 100px;
    max-height: 100px;
}
.EditEventContainer{
    background-color: #2c2c2c;
    text-align: center;
    color: white;
    width: 40vh;
    min-width: 30vh;
    height: 180vh;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.success{
    background-color: green;
    font-size: 2vh;
}