@media only screen and (max-width: 1360px) {
  .SingleEventContainer {
    background-color: #2c2c2c !important; 
    color: white;
  }
  .list-group-item {
    background-color: #2c2c2c !important;
    color: white !important;
    border: 1px solid #2c2c2c;
  }

  .SingleEventContainer .card-img-top {
    max-height: 200px;
    width: auto;
    object-fit: cover;
  }

  .SingleEventContainer .card {
    max-width: 600px;
    margin: auto;
  }
}
@media only screen and (min-width: 1360px) {
  .SingleEventContainer {
    background-color: #2c2c2c;
    text-align: left;
    color: white;
    width: 40%;
    height: 150%;
    min-height: 100%;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 5vh;
    box-shadow: 0 0 10px #2c2c2c;
    font-size: 2vh;
  }
  .SingleEventContainer2 {
    background-color: #2c2c2c;
    text-align: left;
    color: white;
    width: 40%;
    height: 150%;
    margin: auto;
    border: 1px solid #2c2c2c;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 2vh;
    box-shadow: 0 0 10px #2c2c2c;
    font-size: 2vh;
  }
}
.EventIcon {
  font-size: 3vh;
  margin-right: 0.5vh;
}
.EventTextDiv {
  margin-left: 5vh;
}
