.myFormGroupEvent{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.SingleEventButton{
    color:antiquewhite;
    font-size: 2.5vh;
    background-color: #343434;
}
.SingleEvent{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
.SingleEventTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    text-align: center;
    margin-bottom: 1vh;
}
.SingleEventTitleOrganizer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8vh;
    text-align: center;
    margin-bottom: 1vh;
}
.SingleEventBanner{
    text-align: center;
    font-size: 5vh;
    font-family: 'Courier New', Courier, monospace;
}
@media only screen and (max-width: 700px) {
.SingleEventContainer{
        background-color: #343434;
        text-align: left;
        color: white;
        width: 85%;
        height: 150%;
        min-height: 100%;
        margin: auto;
        border: 1px solid #343434;
        border-radius: 3%;
        opacity: 95%;
        margin-top: 5vh;
        box-shadow: 0 0 10px #343434;
        font-size: 2vh;
}
.SingleEventContainer2{
    background-color: #343434;
    text-align: left;
    color: white;
    width: 85%;
    height: 150%;
    margin: auto;
    border: 1px solid #343434;
    border-radius: 3%;
    opacity: 95%;
    margin-top: 2vh;
    box-shadow: 0 0 10px #343434;
    font-size: 2vh;
}
}
@media only screen and (min-width: 700px) and (max-width: 1300px) {
    .SingleEventContainer{
            background-color: #343434;
            text-align: left;
            color: white;
            width: 85%;
            height: 150%;
            min-height: 100%;
            margin: auto;
            border: 1px solid #343434;
            border-radius: 3%;
            opacity: 95%;
            margin-top: 5vh;
            box-shadow: 0 0 10px #343434;
            font-size: 2vh;
    }
    .SingleEventContainer2{
        background-color: #343434;
        text-align: left;
        color: white;
        width: 85%;
        height: 150%;
        margin: auto;
        border: 1px solid #343434;
        border-radius: 3%;
        opacity: 95%;
        margin-top: 2vh;
        box-shadow: 0 0 10px #343434;
        font-size: 2vh;
    }
    }
@media only screen and (min-width: 1300px) {
    .SingleEventContainer{
            background-color: #343434;
            text-align: left;
            color: white;
            width: 30%;
            height: 150%;
            min-height: 100%;
            margin: auto;
            border: 1px solid #343434;
            border-radius: 3%;
            opacity: 95%;
            margin-top: 5vh;
            box-shadow: 0 0 10px #343434;
            font-size: 2vh;
    }
    .SingleEventContainer2{
        background-color: #343434;
        text-align: left;
        color: white;
        width: 30%;
        height: 150%;
        margin: auto;
        border: 1px solid #343434;
        border-radius: 3%;
        opacity: 95%;
        margin-top: 2vh;
        box-shadow: 0 0 10px #343434;
        font-size: 2vh;
    }
    }
.EventIcon{
    font-size: 3vh;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.EventTextDiv{
    margin-left: 5vh;
}