/* Small Screen */

@media only screen and (max-width: 500px) {
  .QRContainer {
    border-radius: 3%;
    text-align: center;
    margin-top: 5vh;
    margin-top: 5vh;
    box-shadow: 1 1 10px #343434;
    opacity: 95%;
    border-radius: 3%;
  }
  .QRTitle{
    box-shadow: 0 0 10px #343434;
    margin: auto;
    width: 90%;
    margin-top: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    background-color: #343434;
    color: #ffffff;
    text-align: center;
  }
  .QRCode{
    padding: 6px;
    box-shadow: 0 0 10px #343434;
    width: 90%;
    margin: auto;
    border: 5px solid #343434;
  }
}


/* Big Screen */
@media only screen and (min-width: 1300px) {
  .QRContainer {
    border-radius: 3%;
    text-align: center;
    margin-top: 5vh;
    margin-top: 5vh;
    box-shadow: 1 1 10px #343434;
    opacity: 95%;
    border-radius: 3%;
  }
  .QRTitle{
    box-shadow: 0 0 10px #343434;
    margin: auto;
    width: 32%;
    margin-top: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    background-color: #343434;
    color: #ffffff;
    text-align: center;
  }
  .QRCode{
    padding: 6px;
    box-shadow: 0 0 10px #343434;
    width: 32%;
    margin: auto;
    border: 5px solid #343434;
  }
}

/* Medium Screen */
@media only screen and (max-width: 1300px) and (min-width: 500px) {
  .QRContainer {
    border-radius: 3%;
    text-align: center;
    margin-top: 5vh;
    margin-top: 5vh;
    box-shadow: 1 1 10px #343434;
    opacity: 95%;
    border-radius: 3%;
  }
  .QRTitle{
    box-shadow: 0 0 10px #343434;
    margin: auto;
    width: 40%;
    margin-top: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    background-color: #343434;
    color: #ffffff;
    text-align: center;
  }
  .QRCode{
    padding: 6px;
    box-shadow: 0 0 10px #343434;
    width: 40%;
    margin: auto;
    border: 5px solid #343434;
  }
}